@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

body {
    padding: 0;
    background-color: rgb(235, 236, 237);
}
.header {
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: rgb(61, 67, 77);
    padding: 0;
    margin: -8px;
    box-shadow: 0 4px 4px -2px gray;
    display: block;
}

.wrapper2 {
    overflow: scroll;
    width: 650px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.header-left {
    float: left;
    display: inline-block;
}

.header-left a {
    color: white;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-family: "quicksand";
    font-size: 25px;
    margin-top: 4px;
    margin-left: 200px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.header-left a:hover{
    color: #dfdfdf;
    text-decoration: none;
    padding: 0;
    vertical-align: middle;
}

.header-right {
    float: right;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

.cart {
    text-decoration: none;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "quicksand";
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 50px;
    text-align: center;
    background: none repeat scroll 0 0 #E0645C;
    color: white;
    margin-right: 200px;
    margin-top: 5px;
}

.cart:hover {
    background: none repeat scroll 0 0 #999999;
    color: white;
}
.deletee {
    text-decoration: none;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "quicksand";
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 6 0px;
    text-align: center;
    background: none repeat scroll 0 0 rgb(61, 67, 77);
    color: white;
    margin-right: 3px;
    margin-bottom: 15px;
    float: right;
}
.buy, .edit , .buyy{
    text-decoration: none;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "quicksand";
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 50px;
    text-align: center;
    background: none repeat scroll 0 0 rgb(61, 67, 77);
    color: white;
    margin-right: 0px;
    margin-bottom: 15px;
    float: right;
}
.buyy {
    margin-right: 10px;
    margin-bottom: 10px;
}
.buy:hover, .edit:hover, .buyy:hover{
    background: none repeat scroll 0 0 #a3be5f;
    color: white;
}
.deletee:hover{
    background: none repeat scroll 0 0 #ce0000;
    color: white;
}

.buy:focus, .edit:focus, .buyy:focus {
    outline-color: transparent;
    outline-style: none;
    background: none repeat scroll 0 0 #a3be5f;
}
.deletee:hover {
    outline-color: transparent;
    outline-style: none;
    background: none repeat scroll 0 0 #ce0000;
}
.remove {
    text-decoration: none;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "quicksand";
    font-size: 25px;
    font-weight: bold;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 30px;
    height: 30px;
    text-align: center;
    color: rgb(195, 56, 56);
    margin-right: 0px;
    margin-bottom: 15px;
    float: right;
    background-color: white;
    font-weight: bold;


}
.remove:hover {
    color: rgb(255, 45, 45);

}
.remove:focus {
    outline-color: transparent;
    outline-style: none;
}

.admin{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "quicksand";
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 50px;
    text-align: center;
    color: white;
    margin-right: 0px;
    margin-bottom: 15px;
}
.admin:hover{
    color: #dfdfdf;
    text-decoration: none;
}
.white {
    height: 670px;
    width: 620px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
}
.stupid {
    margin-top: 0;
}
.stupidd {
    margin-top: 50px;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.add {
    height: 200px;
    width: 620px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.potato {
    height: 50px;
    width: 620px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
}
.white1 {
    height: 100px;
    width: 620px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
}

.white2 {
    height: 100px;
    width: 620px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
    display: block;
}

.white3 {
    margin-top: 50px;
    height: 100%;
    width: 620px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
}
.speck {
    margin: 0;
    padding: 0;
    overflow: scroll;
    height: 220px;
}
.white4 {
    margin-top: 50px;
    height: 370px;
    width: 350px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    vertical-align: top;
}


.inner {
    padding: 10px 10px 20px 10px;
}

.inner1 {
    padding: 10px 10px 20px 10px;

}
.inner2 {
    padding: 10px 10px 20px 10px;
}
.inner3 {
    padding: 10px 10px 20px 10px;
}

p {
    margin: 0;
    padding: 0;
    font-family: "quicksand";
}

.total {
    margin: 12px;
    padding: 0;
    font-family: "quicksand";
    font-size: 20px;
    display: inline-block;
}

.total-num {
    margin: 12px;
    padding: 0;
    font-family: "quicksand";
    font-size: 20px;
    float: right;
    display: inline-block;

}
.title1, .price1 {
    display: inline-block;
}
.price1 {
    float: right;
    margin-top: -16px;
}
.price2 {
    float: right;
    margin-top: 0px;
}
.title1 {
    float: left;
    margin-top: -16px;
    margin-left: 5px;
    text-decoration: none;
    font-family: "quicksand";
}
.title2 {
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    text-decoration: none;
    font-family: "quicksand";

}
.title {
    display: inline-block;
    text-decoration: none;
    font-family: "quicksand";
    color:rgb(61, 67, 77);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    font-weight: bold;
}

.title:hover {
    color:   #1f518e;
}
.price {
    font-weight: bold;
}
.wrapper {
    overflow: scroll;
    width: 650px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.wrapper3 {
    height: 100%;
    width: 978px;
    margin-left: auto;
    margin-right: auto;
}

.s-wrapper {
    overflow: scroll;
    width: 650px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.s-wrapper2 {
    overflow: scroll;
    width: 620px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 65px;
    color: rgb(61, 67, 77);
    font-family: "quicksand";

}
h2 {
    color: rgb(134, 145, 159);
    font-family: "quicksand";
}
h3 {
    color: rgb(134, 145, 159);
    font-family: "quicksand";
}
.picture {
    height: 600px;
    width: 600px;
}

.picture1 {
    height: 80px;
    width: 80px;
    float: left;
    margin-top: -18px
}
.picture2 {
    height: 80px;
    width: 80px;
    float: left;
    margin-top: 0;
    display: block;
}
.picture3 {
    height: 600px;
    width: 600px;
    float: left;
    margin-top: 0;
    display: block;
}
