<div class="header">

    <div class="header-left">
        <a href="#/">products</a>

    </div>

    <div class="header-right">
        <a href="#/cart" class ="cart invert">cart.</a>

        <a href="#/admin" class ="admin invert">admin.</a>


    </div>

</div>


<div class="s-wrapper" >
    <h1>shopping cart.</h1>
    <div ng-controller="CartController as cart">

        <ul>
            <li class="white1" ng-repeat="item in cart.items">
                <div class="inner1">
                    <img class="picture1" ng-src="{{item.picture}}">
                    <p class="title1">{{item.title}}</p>
                    <p class="price1">{{item.price | currency}}</p>
                </div>
                <div class="inner1" id="xxx">
                    <button class="remove" ng-click="cart.removeCartProduct(item)">x</button>
                </div>
            </li>
        </ul>

    </div>



    <div class="potato">
        <div class="total">total price = </div>
        <div class="total-num"> {{cart.updateTotal() | currency}}</div>
    </div>



</div>
