<div class="add">
    <h2>Edit: {{admin.singleProduct.title}}</h2>

    <form >
      <input type="text" ng-model="admin.singleProduct.picture" placeholder="Picture">
      <input type="text" ng-model="admin.singleProduct.title" placeholder="Title">
      <textarea name="" ng-model="admin.singleProduct.description" id="" cols="30" rows="6">
          {{admin.singleProduct.description}}
      </textarea>
      <input type="text" ng-model="admin.singleProduct.price" placeholder="Price">
      <button ng-click="admin.updateProduct(admin.singleProduct)">Update</button>
    </form>
</div>
