
<div class="header">
    <div class="header-left">
        <a href="#/">products</a>
    </div>
    <div class="header-right">
        <a href="#/cart" class ="cart invert">cart.</a>
        <a href="#/admin" class ="admin invert">admin.</a>
    </div>
</div>


<div class="wrapper">
    <h1>welcome to products!</h1>
    <h2>find cool stuff and buy cool stuff.</h2>


    <ul>
        <li class="white" ng-repeat="product in mainCtrl.products">
            <div class="inner">
                <img class="picture" ng-src="{{product.picture}}">
                <a class="title" href="#/detail/{{product._id}}">{{product.title}}</a>
                <div ng-controller="CartController as cart">
                    <button class="buy" ng-click="cart.addCartProduct(product)">buy.</button>
                </div>
                <p class = "price">{{product.price | currency}}</p>
            </div>
        </li>
    </ul>


</div>
